.header-container {
    position: absolute;
    width: 100%;
}

.main-image {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.3fr 0.9fr 0.6fr .3fr;
    grid-template-areas:
      "area1"
      "area2"
      "area3"
      "area4";
}

.main-image .img { 
    width: 70%;
    grid-area: area1; 
    align-self: flex-end;
    margin: 0 auto;
}

.main-image .main-paragraph {
    align-self: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    grid-area: area2; 
    font-family: 'Poppins Light';
    font-size: 14px;
}
.main-image .main-buttons { 
    align-self: flex-start;
    grid-area: area3; 
    margin: 0;
}

.main-image .main-buttons .book-appointment {
    background-color: #fff;
    color: #8C7787;
    border: 1px solid #8C7787;
}

.main-image .arrow {
    grid-area: area4; 
    align-self: flex-end;
}

.main-image .arrow img {
    width: 12px;
}

.main-image img {
    width: 90%;
    margin-bottom: 40px;
}

/* BUSINESS HOURS SECTION */

.business_contact_section {
    background-color: #F7F0F5;
}

.business_contact_section .business_contact {
    width: 85%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.business_contact_section .business_contact h3 {
    font-family: 'Playfair Display';
    font-size: 20px;
    padding-bottom: 6px;
}

.hr {
    margin-bottom: 6px;
}

.business_contact_section .business_contact .days_hours h5,
.business_contact_section .business_contact .days_hours p {
    font-size: 16px;
}

/* CONTACT SECTION */
.title {
    font-family: 'Playfair Display';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.title p {
    font-family: 'Poppins Light';
    font-size: 12px;
    text-align: center;
    width: 60%;
    margin-top: 20px;
}

.contact_container {
    position: relative;
    width: 100%;
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form {
    position: relative;
    width: 100%;
    padding: 0 40px 60px;
}

.contact-form form {
    width: 100%;
}

.contact-form .row {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-form .input50,
.contact-form .input100 {
    width: 100%;
    /* margin: 0 10px; */
}

.contact-form .row input,
.contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);
    color: #333;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 14px;
    margin: 10px 0;
    resize: none;
}

.contact-form .row textarea {
    height: 100px;
}

.contact-form .row input[type="submit"] {
    background-color: #8C7787;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}


/* ********** MEDIA QUERIES  768px *********** */
/* ********** MEDIA QUERIES  768px *********** */
@media only screen and (min-width: 768px) {

    .main-image .img { 
        width: 60%;
    }

    .main-image .main-paragraph {
        width: 60%;
        font-size: 16px;
        line-height: 1.6;
    }

    .main-image .arrow img {
        width: 16px;
    }

    /* BUSINESS HOURS SECTION */

    .business_contact_section .business_contact {
        width: 70%;
        padding: 70px 0;
    }

    .business_contact_section .business_contact h3 {
        font-size: 28px;
        padding-bottom: 8px;
    }

    .hr {
        margin-bottom: 8px;
    }

    .business_contact_section .business_contact .days_hours h5,
    .business_contact_section .business_contact .days_hours p {
        font-size: 20px;
    }

    /* CONTACT SECTION */
    .title {
        font-size: 20px;
        margin-top: 70px;
    }

    .title p {
        font-size: 20px;
        margin-top: 30px;
    }

    .contact_container {
        width: 60%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .contact-form form {
        width: 100%;
    }

    .contact-form .row input,
    .contact-form .row textarea {
        padding: 12px;
        font-size: 20px;
        margin: 10px 0;
    }

    .contact-form .row textarea {
        height: 130px;
    }

    .contact-form .row input[type="submit"] {
        font-size: 20px;
    }
}


/* ********** MEDIA QUERIES  1024px *********** */
/* ********** MEDIA QUERIES  1024px *********** */
@media only screen and (min-width: 1024px) {
    .main-image {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1.8fr 0.8fr 0.4fr;
        grid-template-areas:
            "area1 area1 area2 area2"
            "area1 area1 area2 area2"
            "area3 area3 area3 area3"
            "area4 area4 area4 area4"
    }
    
    .main-image .main-paragraph {
        width: 70%;
        align-self: center;
        margin: 140px 0 0 0;
        grid-area: area2;
        font-size: 18px;
        text-align: left;
    }
    .main-image .main-buttons { 
        align-self: center;
        grid-area: area3; 
    }

    .main-image .main-buttons button {
        margin: 0;
    }

    .main-image .arrow {
        grid-area: area4;
        align-self: center;
    }

    .main-image .img { 
        width: 70%;
    }

    .main-image .main-buttons button:hover {
        color: #fff;
        background-color: #8C7787;
    }

    .main-image .main-paragraph {
        width: 75%;
        font-size: 18px;
        line-height: 1.6;
    }

    .main-image .arrow img {
        width: 16px;
    }

    /* BUSINESS HOURS SECTION */
    .business_contact_section .business_contact {
        width: 50%;
        padding: 70px 0;
    }

    .business_contact_section .business_contact h3 {
        font-size: 28px;
        padding-bottom: 8px;
    }

    .hr {
        margin-bottom: 8px;
    }

    .business_contact_section .business_contact .days_hours h5,
    .business_contact_section .business_contact .days_hours p {
        font-size: 20px;
    }

    /* CONTACT SECTION */
    .title {
        font-size: 20px;
        margin-top: 70px;
    }

    .title p {
        font-size: 20px;
        margin-top: 30px;
    }

    .contact_container {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .contact-form form {
        width: 100%;
    }

    .contact-form .row input,
    .contact-form .row textarea {
        padding: 12px;
        font-size: 20px;
        margin: 10px 0;
    }

    .contact-form .row textarea {
        height: 130px;
    }

    .contact-form .row input[type="submit"] {
        font-size: 20px;
    }
}


/* 1366px */
@media only screen and (min-width: 1366px) {
    .main-image {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 2fr 0.8fr 0.4fr;
        grid-template-areas:
            "area1 area1 area2 area2"
            "area1 area1 area2 area2"
            "area3 area3 area3 area3"
            "area4 area4 area4 area4"
    }
    
    .main-image .main-paragraph {
        width: 70%;
        align-self: center;
        margin: 140px 0 0 0;
        grid-area: area2;
        font-size: 18px;
        text-align: left;
    }
    .main-image .main-buttons { 
        align-self: center;
        grid-area: area3; 
    }

    .main-image .main-buttons button {
        margin: 0;
    }

    .main-image .arrow {
        grid-area: area4;
        align-self: center;
    }

    .main-image .img { 
        width: 62%;
    }

    .main-image .main-paragraph {
        width: 75%;
        font-size: 18px;
        line-height: 1.6;
    }

    .main-image .arrow img {
        width: 16px;
    }

    /* BUSINESS HOURS SECTION */
    .business_contact_section .business_contact {
        width: 50%;
        padding: 70px 0;
    }

    .business_contact_section .business_contact h3 {
        font-size: 28px;
        padding-bottom: 8px;
    }

    .hr {
        margin-bottom: 8px;
    }

    .business_contact_section .business_contact .days_hours h5,
    .business_contact_section .business_contact .days_hours p {
        font-size: 20px;
    }

    /* CONTACT SECTION */
    .title {
        font-size: 20px;
        margin-top: 70px;
    }

    .title p {
        font-size: 20px;
        margin-top: 30px;
    }

    .contact_container {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .contact-form form {
        width: 100%;
    }

    .contact-form .row input,
    .contact-form .row textarea {
        padding: 12px;
        font-size: 20px;
        margin: 10px 0;
    }

    .contact-form .row textarea {
        height: 130px;
    }

    .contact-form .row input[type="submit"] {
        font-size: 20px;
    }
}