/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL RULES */
body {
    font-family: 'Poppins';
    position: relative;
    color: #555;
}

/* INSERTING FONTS */
@font-face {
    font-family: 'Creattion Demo';
    src: url(./assets/fonts/Creattion-Demo.otf);
}

@font-face {
    font-family: 'Playfair Display';
    src: url(./assets/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Light';
    src: url(./assets/fonts/Poppins-Light.ttf);
}

/* HEADER STYLING */
.mini-navbar {
    display: none;
}

.desktop-navbar {
    display: none;
}

header {
    height: 100vh;
}
#main-header {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger-menu .line {
    width: 38px;
    height: 4px;
    background-color: #8C7787;
    border-radius: 50px;
}

.hamburger-menu .line2 {
    margin: 6px 0;
}

#main-header img {
    margin-top: 5%;
    width: 90px;
}

/* HERO IMAGE STYLING */
.hero-image-container {
    margin: 12% auto;
    width: 190px;
    height: 190px;
    position: relative;
}

.hero-image-container .square {
    margin-top: 20%;
    width: 190px;
    height: 190px;
    opacity: 0.4;
    background-image: linear-gradient(to bottom, #F7F0F5, #DCD2D8);
    border: none;
    position: absolute;
    top:0;
    left:0;
}

.hero-image-container .square1 {
    z-index: 5;
}

.hero-image-container .square2 {
    z-index: 4;
    transform: rotate(-12deg);
}

.hero-image-container .square3 {
    z-index: 3;
    transform: rotate(-24deg);
}

.hero-image-container img {
    display: block;
    width: 290px;
    z-index: 6;
    position: absolute;
    top:-32%;
    left: -25%;
}

/* MAIN TYTLE STYLING */
.hero-text h1 {
    display: inline-block;
    color: #A3939F;
    position: relative;
    top: -20px;
    left: 13%;
    z-index: 7;
    font-family: 'Creattion Demo';
    font-size: 60px;
    font-weight: 100;
}

.hero-text p {
    display: inline-block;
    color: #333;
    font-family: 'Playfair Display';
    font-size: 14px;
    position: relative;
    top: -35px;
    left: 45%;
    z-index: 7;
}

/* MAIN BUTTONS STYLING */
.main-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-buttons button {
    width: 166px;
    height: 32px;
    font-size: 11px;
    font-family: 'Poppins Light';
    margin-top: 15px;
}

.main-buttons .book-appointment {
    background-color: #8C7787;
    color: #fff;
    border: none;
}

.main-buttons .services-prices {
    background-color: #fff;
    color: #555;
    border: 1px solid #555;
}

/* ARROW STYLING */
.arrow {
    width: 14px;
    margin: 0 auto;
    margin-top: 10px;
}

.arrow img {
    width: 14px;
}

/* MENU PAGE DARK STYLING */
aside {
    background-color: #8C7787;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

#main-header-dark {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

#main-header-dark img {
    margin-top: 5%;
    width: 90px;
}

#main-header-dark .x {
    font-family: 'Creattion Demo';
    font-size: 35px;
    margin-right: 10px;
}

.menu-container {
    margin-top: 100px;
    color: #fff;
    font-family: 'Playfair Display';
}

.menu-container a {
    text-decoration: none;
    color: #fff;
}

.menu-container h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 28px;
}

/* MAIN PAGE STYLING */
.offer-giftcard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.offer-giftcard h3 {
    font-size: 14px;
    font-weight: 100;
}

.offer-giftcard p {
    font-family: 'Playfair Display';
}

.offer-giftcard button {
    width: 166px;
    height: 32px;
    font-size: 11px;
}

.offer-giftcard .secondary-btn {
    border: 1px solid #555;
    background-color: #F7F0F5;
}

.offer-giftcard .primary-btn {
    border: 1px solid #fff;
    background-color: #8C7787;
    color: #fff;
    
}

.offer-giftcard .offer-container,
.offer-giftcard .giftcard-container {
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
} 

.offer-giftcard .offer-container {
    background-color: #F7F0F5;
}

.offer-giftcard .offer-container p {
    font-size: 32px;
    color: #555;
    margin: 32px 0;
}

.offer-giftcard .giftcard-container p {
    font-size: 32px;
    margin: 32px 0;
}

.offer-giftcard .giftcard-container {
    background-color: #8C7787;
    color: #fff;
}

/* SERVICES STYLING */
.services-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
}

.services .manicure,
.services .lash-lifting,
.services .japanese-lifting,
.services .make-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-container h2 {
    font-family: 'Playfair Display';
    font-size: 32px;
}

.services h3 {
    font-family: 'Poppins Light';
    font-size: 16px;
}

.services-container img {
    width: 120px;
}

.services-container button {
    background-color: #8C7787;
    border: none;
    width: 166px;
    height: 32px;
    color: #fff;
    font-size: 11px;
}

/* INSTAGRAM STYLING */
.instagram-container {
    background-color: #F7F0F5;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.instagram-container h2 {
    font-family: 'Playfair Display';
    font-size: 32px;
}

.instagram-container .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instagram-container .title h4 {
    font-size: 14px;
    font-family: 'Poppins Light';
}

.instagram-container button {
    border: 1px solid #333;
    width: 166px;
    height: 32px;
    color: #555;
    font-size: 11px;
    margin-bottom: 32px;
    background-color: #fff;
}

/* REVIEWS STYLING */
.reviews-wrapper {
    padding: 64px 0;
    height: auto;
}
.review-slider {
    position: relative;
}

.review-slider .slider-title {
    font-family: 'Playfair Display';
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    color: #555;
}

.review-slider .next {
    position: absolute;
    top: 60%;
    right: 20px;
    font-size: 14px;
    color: #8C7787;
    cursor: pointer;
}

.review-slider .prev {
    position: absolute;
    top: 60%;
    left: 20px;
    font-size: 14px;
    color: #8C7787;
    cursor: pointer;
}

.review-slider .review-wrapper {
    width: 84%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.review-slider .review-wrapper .review {
    width: 300px;
    height: 400px;
    display: inline-block;
    background-image: url('./assets/images/reviews-squares.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 10px;
}

.review-slider .review-wrapper .review .review-container {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-slider .review-wrapper .review .review-container p {
    font-family: 'Poppins Light';
    font-size: 12px;
    line-height: 1.6;
    max-width: 100%;
}

.review-slider .review-wrapper .review .review-container h5 {
    align-self: flex-end;
    margin-top: 30px;
}


/* FAQ STYLING */
#faq {
    background-color: #F7F0F5;
    color: #555;
    padding: 56px 0;
}

.faq {
    font-family: 'Playfair Display';
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.faq-container {
    width: 85%;
    margin: 0 auto;
}

.faq-container .question-container {
    display: flex;
    justify-content: space-between;
}


.question p {
    font-family: 'Poppins Light';
    font-size: 13px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px 0;
    border-bottom: 1px solid #555;
}

.accordion {
    display: flex;
    justify-content: space-between;
    border: none;
    text-align: left;
    background-color: #F7F0F5;
    transition: 0.4s;
    margin-top: 10px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: bolder;
    color: #555;
}

.panel {
    display: none;
    overflow: hidden;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion:after {
    content: url(assets/images/arrow.svg);
    font-size: 30px;
    float: right;
    transition-duration: 0.3s;
    padding-left: 15px;

}

.active:after {
    transform: rotate(180deg) scaleX(-1);
    transition-duration: 0.3s;
}



/* FOOTER STYLING */
#footer {
    background-color: #8C7787;
    color: #fff;
    height: calc(100vh + 10px);
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    padding: 32px 0;
}

.business-hours h3,
.contact h3 {
    font-family: 'Playfair Display';
    font-size: 18px;
    padding: 0 0 6px 0;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

.days-hours,
.contact-details {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}

.days-hours h5,
.contact-details h5 {
    font-family: 'Poppins Light';
    font-size: 14px;
}

.days-hours p {
    font-family: 'Poppins Light';
    font-size: 14px;
}

.contact {
    margin-top: 32px;
}

.map {
    margin-top: 32px;
}

.terms {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* MEDIA QUERIES ********************************* */
/* IPHONE X & IPHONE 11 PRO 375x812 */
@media screen and (min-width: 375px) and (min-height: 736px) {
    #main-header img {
        margin-top: 10%;
    }
    
    .hero-image-container .square {
        margin-top: 30%;
    }
    
    .hero-image-container img {
        top:-26%;
    }
    
    /* MAIN TYTLE STYLING */
    .hero-text h1 {
        left: 12%;
    }
    
    .hero-text p {
        font-size: 16px;
        top: -20px;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons {
        margin-top: 40px;
    }
    .main-buttons button {
        height: 35px;
    }
    
    /* ARROW STYLING */
    .arrow {
        margin-top: 30px;
    }
    
    /* MENU PAGE DARK STYLING */
    #main-header-dark img {
        margin-top: 10%;
    }
    
    /* MAIN PAGE STYLING */
    .offer-giftcard .offer-container p {
        margin: 50px 0;
    }
    
    .offer-giftcard .giftcard-container p {
        margin: 50px 0;
    }
    
    /* SERVICES STYLING */
    
    /* INSTAGRAM STYLING */
    
    /* REVIEWS STYLING */
    .reviews-container {
        height: 700px;
    }
    
    .reviews-container h4 {
        bottom: 1px;
        right: 18%;
    }
    
    /* FAQ STYLING */
    
    /* FOOTER STYLING */
    
    .footer-container {
        padding: 56px 0;
    }
    
    .contact {
        margin-top: 56px;
    }
    
    .map {
        margin-top: 56px;
    }
    
    .terms {
        margin-top: 56px;
    }
}

/* IPHONE 6/7/8 PLUS 414x736*/
@media screen and (min-width: 414px) and (min-height: 736px) {
    #main-header img {
        margin-top: 5%;
        width: 100px;
    }
    .hero-image-container {
        width: 210px;
        height: 210px;
    }
    
    .hero-image-container .square {
        margin-top: 25%;
        width: 210px;
        height: 210px;
    }
    
    .hero-image-container img {
        width: 310px;
        top:-28%;
        left: -23%;
    }
    
    /* MAIN TYTLE STYLING */
    .hero-text h1 {
        font-size: 64px;
        top: -18px;
        left: 16%;
    }
    
    .hero-text p {
        font-size: 15px;
        top: -28px;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons {
        margin-top: 20px;
    }
    .main-buttons button {
        height: 34px;
    }
    
    /* ARROW STYLING */
    .arrow {
        width: 15px;
        margin: 10px auto;
    }
    
    .arrow img {
        width: 15px;
    }
    
    /* MENU PAGE DARK STYLING */
    #main-header-dark {
        width: 85%;
    }
    
    #main-header-dark img {
        width: 100px;
    }
    
    #main-header-dark .x {
        font-size: 37px;
    }
    
    .menu-container h2 {
        font-size: 30px;
    }
    
    /* MAIN PAGE STYLING */
    .offer-giftcard h3 {
        font-size: 15px;
    }
    
    .offer-giftcard button {
        height: 35px;
    }
    
    .offer-giftcard .offer-container p {
        font-size: 34px;
    }
    
    /* SERVICES STYLING */
    .services {
        gap: 20px;
    }

    .services-container img {
        width: 140px;
    }
    
    .services-container button {
        height: 35px;
    }
    
    /* INSTAGRAM STYLING */
    .instagram-container button {
        height: 35px;
    }
    
    /* REVIEWS STYLING */
    
    
    /* FAQ STYLING */
    .question-container h3 {
        margin-bottom: 14px;
    }
    
    /* FOOTER STYLING */
    
    .footer-container {
        padding: 40px 0;
    }
    
    .contact {
        margin-top: 40px;
    }
    
    .map {
        margin-top: 40px;
    }
    
    .terms {
        margin-top: 48px;
    }
}

/* IPHONE 11 414x896 */
@media screen and (min-width: 414px) and (min-height: 896px) {
    #main-header img {
        margin-top: 10%;
    }
    
    .hero-image-container .square {
        margin-top: 30%;
    }
    .hero-image-container {
        width: 260px;
        height: 260px;
    }
    
    .hero-image-container .square {
        margin-top: 30%;
        width: 260px;
        height: 260px;
    }
    
    .hero-image-container img {
        width: 360px;
        top: -16%;
        left: -46px;
    }
    
    /* MAIN TYTLE STYLING */
    .hero-text h1 {
        font-size: 66px;
        left: 15%;
        top: 20%;
    }
    
    .hero-text p {
        font-size: 18px;
        top: -5px;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons {
        margin-top: 64px;
    }
    .main-buttons button {
        height: 36px;
        width: 186px;
    }
    
    /* ARROW STYLING */
    .arrow {
        margin-top: 20px;
    }
    
    /* MENU PAGE DARK STYLING */

    /* MAIN PAGE STYLING */
    .offer-giftcard .offer-container p {
        margin: 50px 0;
    }
    
    .offer-giftcard .giftcard-container p {
        margin: 50px 0;
    }
    
    /* SERVICES STYLING */
    .services {
        gap: 30px;
    }

    .services-container img {
        width: 150px;
    }
    
    .services-container button {
        height: 36px;
        width: 186px;
    }
    
    /* INSTAGRAM STYLING */
    .instagram-container button {
        height: 36px;
        width: 186px;
    }

    .instagram-container {
        height: 736px;
    }
    /* REVIEWS STYLING */
    
    /* FAQ STYLING */
    
    /* FOOTER STYLING */
    #footer {
        height: auto;
    }
}

/* IPAD 768x1024 **********************/
@media screen and (min-width: 768px) and (min-height: 1024px) {
    #main-header {
        width: 80%;
    }
    .hamburger-menu .line {
        width: 48px;
        height: 5px;
    }
    
    .hamburger-menu .line2 {
        margin: 8px 0;
    }
    
    #main-header img {
        margin-top: 4%;
        width: 120px;
    }
    
    /* HERO IMAGE STYLING */
    .hero-image-container {
        margin: 5% auto;
        width: 360px;
        height: 360px;
    }
    
    .hero-image-container .square {
        width: 360px;
        height: 360px;
    }
    
    .hero-image-container img {
        width: 480px;
        top:-20%;
        left: -15%;
    }
    
    /* MAIN TYTLE STYLING */
    .hero-text h1 {
        top: 0;
        left: 18%;
        font-size: 112px;
        font-weight: 100;
    }
    
    .hero-text p {
        font-size: 24px;
        position: relative;
        top: 70px;
        left: -80px;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons {
        flex-direction: row;
        justify-content: center;
        margin-top: 100px;
    }
    .main-buttons button {
        width: 236px;
        height: 48px;
        font-size: 14px;
        margin: 0 20px;
    }
    
    /* ARROW STYLING */
    .arrow {
        width: 24px;
        margin: 0 auto;
        margin-top: 40px;
    }
    
    .arrow img {
        width: 24px;
    }
    
    /* MENU PAGE DARK STYLING */
    
    #main-header-dark {
        width: 80%;
    }
    
    #main-header-dark img {
        margin-top: 5%;
        width: 120px;
    }
    
    #main-header-dark .x {
        font-size: 48px;
    }
    
    .menu-container {
        margin-top: 200px;
    }
    
    .menu-container h2 {
        margin-top: 70px;
        font-size: 40px;
    }
    
    /* MAIN PAGE STYLING */
    .offer-giftcard h3 {
        font-size: 18px;
    }
    
    .offer-giftcard button {
        width: 236px;
        height: 48px;
        font-size: 14px;
    }
    
    .offer-giftcard .offer-container p {
        font-size: 48px;
        margin: 48px 0;
    }
    
    .offer-giftcard .giftcard-container p {
        font-size: 48px;
        margin: 32px 0;
    }
    
    /* SERVICES STYLING */
    .services-container {
        height: auto;
        padding: 96px 0;
    }
    
    .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 32px;
        margin: 96px 0;
    }
    
    .services-container h2 {
        font-size: 40px;
    }
    
    .services h3 {
        font-size: 20px;
    }
    
    .services-container img {
        width: 200px;
    }
    
    .services-container button {
        width: 236px;
        height: 48px;
        font-size: 14px;
    }
    
    /* INSTAGRAM STYLING */
    .instagram-container {
        height: auto;
        padding: 48px 0;
    }

    .instagram-container .instagram {
        margin: 48px 0;
    }
    
    .instagram-container h2 {
        font-size: 40px;
    }
    
    .instagram-container .title h4 {
        font-size: 18px;
    }
    
    .instagram-container button {
        width: 236px;
        height: 48px;
        font-size: 14px;
    }
    
    /* REVIEWS STYLING */
    .reviews-container {
        height: auto;
    }
    
    .reviews-container h2 {
        font-size: 40px;
        margin-top: 15%;
    }
    
    .reviews-container .review-text {
        position: relative;
        margin: 40px 0 72px 0;
    }
    
    .reviews-container .review-text p {
        font-size: 16px;
    }
    
    
    /* FAQ STYLING */
    #faq {
        padding: 72px 0;
    }

    .faq {
        font-size: 40px;
    }
    
    .faq-container {
        width: 80%;
        margin: 0 auto;
    }
    
    .faq-container .question-container {
        width: 100%;
    }
    
    .question-container h3 {
        margin-top: 18px;
        font-size: 18px;
        margin-bottom: 16px;
        width: 70%;
    }
    
    .question-container img {
        width: 18px;
    }
    
    .question p {
        font-size: 16px;
    }
    
    .question {
        padding: 32px 0;
    }
    
    /* FOOTER STYLING */
    #footer {
        background-color: #8C7787;
        color: #fff;
        height: auto;
    }
    
    .footer-container {
        padding: 40px 0;
    }
    
    .business-hours h3,
    .contact h3 {
        font-size: 24px;
    }
    
    .days-hours,
    .contact-details {
        padding: 5px 0;
    }
    
    .days-hours h5,
    .contact-details h5 {
        font-size: 18px;
    }
    
    .days-hours p {
        font-size: 18px;
    }
    
    .contact {
        margin-top: 40px;
    }
    
    .map {
        margin-top: 40px;
    }
    
    .terms {
        margin-top: 40px;
    }
}

/* NORMAL SIZE SCREENS 1024px *********************/
/* ********************************************** */

@media only screen  and (min-width: 1024px) {
    /* desktop mini navbar */
    #main-header {
        display: none;
    }

    .mini-navbar {
        width: 90%;
        margin: 8px auto 8px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mini-navbar .info-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 28%;
    }

    .mini-navbar .info-navbar .mail,
    .mini-navbar .info-navbar .phone {
        display: flex;
        align-items: center;
    }

    .mini-navbar .info-navbar .mail p,
    .mini-navbar .info-navbar .phone p {
        font-family: 'Poppins Light';
        font-size: 10px;
        margin-left: 8px;
    }

    .mini-navbar img {
        width: 12px;
        height: 12px;
    }

    .some-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 4%;
    }

    .some-navbar img {
        width: 14px;
        height: 14px;
    }

    /* desktop regular navbar */
    .desktop-navbar-container {
        width: 100%;
        background-color: #8C7787;
        height: 88px;
    }

    .desktop-navbar-container .desktop-navbar {
        width: 90%;
        height: 88px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .desktop-navbar-container .desktop-navbar img {
        width: 80px;
    }

    .desktop-navbar-container .desktop-navbar ul {
        list-style: none;
        display: flex;
        color: #fff;
        font-family: 'Playfair Display';
        font-size: 14px;
        margin-left: -220px;
    }

    .desktop-navbar-container .desktop-navbar ul li {
        margin-right: 40px;
    }

    .desktop-navbar-container .desktop-navbar button {
        width: 186px;
        height: 36px;
        font-family: 'Poppins';
        font-size: 12px;
        color: #8C7787;
        background-color: #fff;
        border: none;
    }
    
    /* HERO IMAGE STYLING */
    .hero-image-container {
        width: 285px;
        top: 2%;
        left: 24%;
    }
    
    .hero-image-container .square {
        width: 285px;
        height: 285px;
    }
    
    .hero-image-container img {
        width: 450px;
        top: -42%;
        left: -27%;
    }
    
    /* MAIN TYTLE STYLING */
    .hero-text h1 {
        top: -300px;
        left: 8%;
        font-size: 104px;
    }
    
    .hero-text p {
        font-size: 20px;
        top: -235px;
        left: -16%;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons {
        flex-direction: row;
        justify-content: center;
        width: 60%;
    }
    
    .main-buttons button {
        width: 186px;
        height: 36px;
        font-size: 12px;
        margin-top: -300px;
    }
    
    .main-buttons .book-appointment {
        margin-right: 24px;
    }
    
    /* ARROW STYLING */
    .arrow {
        width: 18px;
        margin: -40px auto;
    }
    
    .arrow img {
        width: 18px;
    }
    
    /* MENU PAGE DARK STYLING */
    aside {
        display: none;
    }
    
    /* MAIN PAGE STYLING */
    .offer-giftcard {
        flex-direction: row;
    }
    
    
    /* SERVICES STYLING */
    .services-container {
        height: auto;
        padding: 64px 0;
    }
    
    .services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 80px;
        margin: 80px 0;
    }
    
    .services h3 {
        font-size: 20px;
    }
    
    .services-container img {
        width: 160px;
    }
    
    .services-container button {
        width: 186px;
        height: 36px;
        font-size: 12px;
    }
    
    /* INSTAGRAM STYLING */
    .instagram-container {
        height: auto;
        padding: 64px 0;
    }
    
    .instagram-container h2 {
        font-size: 32px;
    }

    .instagram-container .title {
        margin-bottom: 56px;
    }
    
    .instagram-container .title h4 {
        font-size: 16px;
    }
    
    .instagram-container button {
        width: 186px;
        height: 36px;
        font-size: 12px;
        margin-top: 56px;
        border: 1px solid #8C7787;
    }
    
    /* REVIEWS STYLING */
    .reviews-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .reviews-container h2 {
        font-family: 'Playfair Display';
        font-size: 32px;
        margin-top: -15%;
    }
    
    .reviews-container .review-text img {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    
    .reviews-container .review-text {
        position: relative;
        margin-top: -60%;
    }
    
    .reviews-container .review-text p {
        width: 60%;
        font-family: 'Poppins Light';
        font-size: 14px;
        position: absolute;
        top: 30%;
        left: 22%;
    }
    
    .reviews-container h4 {
        position: absolute;
        bottom: 4%;
        right: 20%;
    }
    
    
    /* FAQ STYLING */
    #faq {
        padding: 64px 0;
    }
    .faq {
        margin-bottom: 32px;
    }
    
    .faq-container {
        width: 50%;
    }

    .question-container {
        width: 100%;
    }
    
    .question-container h3 {
        font-size: 16px;
    }
    
    .question p {
        font-size: 14px;
    }
    
    /* FOOTER STYLING */
    #footer {
        height: auto;
    }

    .footer-container {
        width: 80%;
        display: grid;
        padding: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 150px;
    }
    
    .business-hours h3,
    .contact h3 {
        font-size: 20px;
        padding: 0 0 8px 0;
        margin-bottom: 12px;
    }
    
    .days-hours,
    .contact-details {
        display: flex;
        justify-content: space-between;
        padding: 3px 0;
    }
    
    .days-hours h5,
    .contact-details h5 {
        font-family: 'Poppins Light';
        font-size: 14px;
    }
    
    .days-hours p {
        font-family: 'Poppins Light';
        font-size: 14px;
    }

    .business-hours {
        margin-top: 32px;
    }
    
    .contact {
        margin-top: 32px;
    }
    
    .map {
        margin: 20px 0 40px 0;
        order: 2;
    }

    
    .terms {
        margin-top: 32px;
        align-items: flex-start;
    }

    .terms h5 {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .terms .social-icons img {
        padding: 0 10px;
    }
}

/* NORMAL SIZE SCREENS IPAD PRO 1024px x 1366px/
/* ********************************************** */
@media only screen and (min-width: 1024px) and (min-height: 1366px) {
    #main-header {
        display: none;
    }

    header {
        height: auto;
    }
    
    .hero-image-container img {
        width: 450px;
        top: -2%;
        left: -27%;
    }
    
    /* MAIN TYTLE STYLING */
    .hero-text h1 {
        top: -340px;
        left: 6%;
    }
    
    .hero-text p {
        font-size: 22px;
        top: -275px;
        left: -20%;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons {
        flex-direction: row;
        justify-content: center;
        width: 60%;
        margin: 0;
        position: absolute;
        top: 10%;
    }
    
    .main-buttons button {
        width: 186px;
        height: 36px;
        font-size: 12px;
        margin-top: 0;
    }
    
    .main-buttons .book-appointment {
        margin-right: 24px;
    }
    
    /* ARROW STYLING */
    .arrow {
        display: none;
    }
}

/* SIZE SCREENS 1366px/
/* ********************************************** */
@media only screen and (min-width: 1366px) {
    #main-header {
        display: none;
    }

    header {
        height: 100vh;
    }
    
    .hero-image-container img {
        width: 450px;
        top: -55%;
        left: -27%;
    }
    
    /* MAIN TYTLE STYLING */
    .hero-text h1 {
        top: -400px;
        left: 10%;
        font-size: 140px;
    }
    
    .hero-text p {
        font-size: 22px;
        top: -320px;
        left: -10%;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons {
        flex-direction: row;
        justify-content: center;
        width: 60%;
        margin: 0;
        position: absolute;
        top: 17%;
        left: 3%;
    }
    
    .main-buttons .book-appointment {
        margin-right: 24px;
    }
    
    /* ARROW STYLING */

    /* FOOTER */
  
}
/* ****************** 1920px ********************** */

@media screen and (min-width: 1536px) {
    .desktop-navbar-container {
        max-width: 1536px;
        margin: 0 auto;
    }

    .desktop {
        background-color: #8C7787;
    }

    .mini-navbar {
        max-width: 1536px;
    }

    .mini-navbar .info-navbar {
        width: 22%;
    }

    .mini-navbar .info-navbar .mail p,
    .mini-navbar .info-navbar .phone p {
        font-size: 12px;
        margin-left: 8px;
    }

    .mini-navbar img {
        width: 14px;
        height: 14px;
    }

    .some-navbar {
        width: 5%;
    }

    /* desktop regular navbar */
    .desktop-navbar-container {
        width: 100%;
        background-color: #8C7787;
        height: 88px;
    }

    .desktop-navbar-container .desktop-navbar {
        width: 100%;
        height: 88px;
        margin: 0 auto;
    }

    .desktop-navbar-container .desktop-navbar img {
        width: 88px;
    }

    .desktop-navbar-container .desktop-navbar ul {
        font-size: 16px;
        margin-left: -560px;
    }

    .desktop-navbar-container .desktop-navbar ul li {
        margin-right: 72px;
    }

    .desktop-navbar-container .desktop-navbar button {
        width: 186px;
        height: 36px;
    }
    
    /* HERO IMAGE STYLING */
    .hero-image-container {
        width: 385px;
        /* top: -10%; */
        /* left: 24%; */
    }
    
    .hero-image-container .square {
        width: 385px;
        height: 385px;
        top: -70px;
        left: 0;
    }
    
    .hero-image-container img {
        width: 600px;
        top: -70%;
        left: -20%;
    }
    
    /* MAIN TYTLE STYLING */
    .hero-text h1 {
        top: -500px;
        left: 15%;
        font-size: 170px;
    }
    
    .hero-text p {
        font-size: 24px;
        top: -400px;
        left: -2%;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons {
        margin-left: 50px;
        margin-top: 100px;
    }

    .main-buttons button {
        width: 186px;
        height: 36px;
        font-size: 12px;
    }
    
    .main-buttons .book-appointment {
        margin-right: 24px;
    }
    
    /* ARROW STYLING */
    .arrow {
        width: 18px;
        margin: -200px auto;
    }
    
    .arrow img {
        width: 18px;
    }
    
    /* MENU PAGE DARK STYLING */
    aside {
        display: none;
    }
    
    /* MAIN PAGE STYLING */
    .offer-giftcard {
        flex-direction: row;
    }
    
    
    /* SERVICES STYLING */
    .services-container {
        height: auto;
        padding: 64px 0;
    }
    
    .services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 80px;
        margin: 80px 0;
    }
    
    .services h3 {
        font-size: 20px;
    }
    
    .services-container img {
        width: 160px;
    }
    
    .services-container button {
        width: 186px;
        height: 36px;
        font-size: 12px;
    }
    
    /* INSTAGRAM STYLING */
    .instagram-container {
        height: auto;
        padding: 64px 0;
    }
    
    .instagram-container h2 {
        font-size: 32px;
    }

    .instagram-container .title {
        margin-bottom: 56px;
    }
    
    .instagram-container .title h4 {
        font-size: 16px;
    }
    
    .instagram-container button {
        width: 186px;
        height: 36px;
        font-size: 12px;
        margin-top: 56px;
        border: 1px solid #8C7787;
    }
    
    /* REVIEWS STYLING */
    .reviews-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .reviews-container h2 {
        font-family: 'Playfair Display';
        font-size: 32px;
        margin-top: -15%;
    }
    
    .reviews-container .review-text img {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    
    .reviews-container .review-text {
        position: relative;
        margin-top: -60%;
    }
    
    .reviews-container .review-text p {
        width: 60%;
        font-family: 'Poppins Light';
        font-size: 14px;
        position: absolute;
        top: 30%;
        left: 22%;
    }
    
    .reviews-container h4 {
        position: absolute;
        bottom: 4%;
        right: 20%;
    }
    
    
    /* FAQ STYLING */
    #faq {
        padding: 64px 0;
    }
    .faq {
        margin-bottom: 32px;
    }
    
    .faq-container {
        width: 50%;
    }

    .question-container {
        width: 100%;
    }
    
    .question-container h3 {
        font-size: 16px;
    }
    
    .question p {
        font-size: 14px;
    }
    
    /* FOOTER STYLING */
    #footer {
        height: auto;
    }

    .footer-container {
        max-width: 1536px;
        width: 80%;
        display: grid;
        padding: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 150px;
    }
    
    .business-hours h3,
    .contact h3 {
        font-size: 20px;
        padding: 0 0 8px 0;
        margin-bottom: 12px;
    }
    
    .days-hours,
    .contact-details {
        display: flex;
        justify-content: space-between;
        padding: 3px 0;
    }
    
    .days-hours h5,
    .contact-details h5 {
        font-family: 'Poppins Light';
        font-size: 14px;
    }
    
    .days-hours p {
        font-family: 'Poppins Light';
        font-size: 14px;
    }

    .business-hours {
        margin-top: 32px;
    }
    
    .contact {
        margin-top: 32px;
    }
    
    .map {
        margin: 20px 0 40px 0;
        order: 2;
    }

    
    .terms {
        margin-top: 32px;
        align-items: flex-start;
    }

    .terms h5 {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .terms .social-icons img {
        padding: 0 10px;
    }
}