/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL RULES */
body {
    font-family: 'Poppins';
    color: #555;
}

/* INSERTING FONTS */
@font-face {
    font-family: 'Creattion Demo';
    src: url(./assets/fonts/Creattion-Demo.ttf);
}

@font-face {
    font-family: 'Playfair Display';
    src: url(./assets/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Light';
    src: url(./assets/fonts/Poppins-Light.ttf);
}

/* HEADER STYLING */

.desktop {
    display: none;
}

#header {
    height: 100vh;
    position: relative;
}

.header-container {
    width: 100%;
    position: absolute;
    z-index: 3;
}

#main-header {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu .line {
    width: 38px;
    height: 4px;
    background-color: #8C7787;
    border-radius: 50px;
}

.hamburger-menu .line2 {
    margin: 6px 0;
}

#main-header img {
    margin-top: 5%;
    width: 90px;
}

/* HERO IMAGE STYLING */
.hero {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.7fr 1fr 0.3fr;
    grid-template-areas:
        "area1"
        "area2"
        "area3";
}

.hero-image-container { 
    grid-area: area1;
    margin: 0 auto;
    width: 70%; 
    align-self: flex-end;
}

.text-buttons { grid-area: area2; }
.arrow { grid-area: area3; }

.hero-image-container img {
    width: 100%;
}

.text-buttons {
    margin-top: -40px;
}

.text-buttons .main-buttons {
    margin-top: 32px;
}

.tagline {
    width: 60%;
    margin: 0 auto;
    text-align: right;
    color: #333;
    font-family: 'Playfair Display';
    font-size: 14px;
}

.arrow {
    margin: 0 auto;
}

.arrow img {
    width: 12px;
}

/* MAIN BUTTONS STYLING */
.main-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-buttons button {
    width: 166px;
    height: 32px;
    font-size: 11px;
    font-family: 'Poppins';
    margin-top: 15px;
}

.main-buttons .book-appointment {
    background-color: #8C7787;
    color: #fff;
    border: none;
}

.main-buttons .services-prices {
    background-color: #fff;
    color: #555;
    border: 1px solid #555;
}

#Layer_1 {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

/* SVG ANIMATION */

.animate_h {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 1.5s linear forwards;
}

.animate_i {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 3s linear forwards;
    animation-delay: 1.2s;
}


.animate_stroke {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 3s linear forwards;
    animation-delay: 1.2s;
}

.animate_I {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 1.5s linear forwards;
    animation-delay: 2s;
}

.animate_apos {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 3s linear forwards;
    animation-delay: 2s;
}

.animate_m {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 4s linear forwards;
    animation-delay: 2.8s;
}

.animate_E {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 1.8s linear forwards;
    animation-delay: 3.5s;
}

.animate_l {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 2s linear forwards;
    animation-delay: 4.4s;
}

.animate_e {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s linear forwards;
    animation-delay: 5s;
}

.animate_n {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s linear forwards;
    animation-delay: 5.5s;
}


.animate_a {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s linear forwards;
    animation-delay: 5.8s;
}


@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

/* MENU PAGE DARK STYLING */
aside {
    background-color: #8C7787;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

#main-header-dark {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

#main-header-dark img {
    margin-top: 5%;
    width: 90px;
}

#main-header-dark .x {
    font-family: 'Creattion Demo';
    font-size: 35px;
    margin-right: 10px;
}

.menu-container {
    color: #fff;
    font-family: 'Playfair Display';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.menu-container a {
    text-decoration: none;
    color: #fff;
}

.menu-container h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 28px;
}

.menu-container .some {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.menu-container .some .fa {
    font-size: 48px;
    margin: 0 20px;
}

/* MAIN PAGE STYLING */
.offer-giftcard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.offer-giftcard h3 {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.2em;
}

.offer-giftcard p {
    font-family: 'Playfair Display';
}

.offer-giftcard button {
    width: 166px;
    height: 32px;
    font-size: 11px;
}

.offer-giftcard .secondary-btn {
    border: 1px solid #555;
    background-color: #F7F0F5;
}

.offer-giftcard .primary-btn {
    border: 1px solid #fff;
    background-color: #8C7787;
    color: #fff;

}

.offer-giftcard .offer-container,
.offer-giftcard .giftcard-container {
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.offer-giftcard .offer-container {
    background-color: #F7F0F5;
}

.offer-giftcard .offer-container p {
    font-size: 32px;
    color: #555;
    margin: 32px 0;
}

.offer-giftcard .giftcard-container p {
    font-size: 32px;
    margin: 32px 0;
}

.offer-giftcard .giftcard-container {
    background-color: #8C7787;
    color: #fff;
}

/* SERVICES STYLING */
.services-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
}

.services .manicure,
.services .lash-lifting,
.services .japanese-lifting,
.services .make-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-container h2 {
    font-family: 'Playfair Display';
    font-size: 32px;
}

.services h3 {
    font-family: 'Poppins Light';
    font-size: 16px;
    margin-top: 20px;
}

.services_link {
    text-decoration: none;
    color: #333;
}


.services-container img {
    width: 120px;
}

.services-container img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in;
}


.services-container button {
    background-color: #8C7787;
    border: none;
    width: 166px;
    height: 32px;
    color: #fff;
    font-size: 11px;
}

/* INSTAGRAM STYLING */
.instagram-container {
    background-color: #F7F0F5;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.instagram-container h2 {
    font-family: 'Playfair Display';
    font-size: 32px;
}

.instagram-container .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instagram-container .title h4 {
    font-size: 14px;
    font-family: 'Poppins Light';
}

.instagram-container button {
    border: 1px solid #333;
    width: 166px;
    height: 32px;
    color: #333;
    font-size: 11px;
    margin-bottom: 32px;
    background-color: #F7F0F5;
}

/* REVIEWS STYLING */
.reviews-wrapper {
    padding: 64px 0;
    height: auto;
}

.review-slider {
    position: relative;
}

.review-slider .slider-title {
    font-family: 'Playfair Display';
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    color: #555;
}

.review-slider .next {
    position: absolute;
    top: 60%;
    right: 20px;
    font-size: 14px;
    color: #8C7787;
    cursor: pointer;
}

.review-slider .prev {
    position: absolute;
    top: 60%;
    left: 20px;
    font-size: 14px;
    color: #8C7787;
    cursor: pointer;
}

.review-slider .review-wrapper {
    width: 84%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.review-slider .review-wrapper .review {
    width: 300px;
    height: 400px;
    display: inline-block;
    background-image: url('./assets/images/reviews-squares.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 10px;
}

.review-slider .review-wrapper .review .review-container {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-slider .review-wrapper .review .review-container p {
    font-family: 'Poppins Light';
    font-size: 11px;
    line-height: 1.6;
    max-width: 100%;
}

.review-slider .review-wrapper .review .review-container h5 {
    align-self: flex-end;
    margin-top: 30px;
}


/* FAQ STYLING */
#faq {
    background-color: #F7F0F5;
    color: #555;
    padding: 56px 0;
}

.faq {
    font-family: 'Playfair Display';
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.faq-container {
    width: 85%;
    margin: 0 auto;
}

.faq-container .question-container {
    display: flex;
    justify-content: space-between;
}


.question p {
    font-family: 'Poppins Light';
    font-size: 13px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px 0;
    border-bottom: 1px solid #555;
}

.accordion {
    display: flex;
    justify-content: space-between;
    border: none;
    text-align: left;
    background-color: #F7F0F5;
    transition: 0.4s;
    margin-top: 10px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: bolder;
    color: #555;
}

.panel {
    display: none;
    overflow: hidden;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion:after {
    content: url(assets/images/arrow.svg);
    font-size: 30px;
    float: right;
    transition-duration: 0.3s;
    padding-left: 15px;

}

.active:after {
    transform: rotate(180deg) scaleX(-1);
    transition-duration: 0.3s;
}



/* FOOTER STYLING */
#footer {
    background-color: #8C7787;
    color: #fff;
    height: calc(100vh + 10px);
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    padding: 32px 0;
}

.business-hours h3,
.contact h3 {
    font-family: 'Playfair Display';
    font-size: 18px;
    padding: 0 0 6px 0;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

.days-hours,
.contact-details {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}

.days-hours h5,
.contact-details h5 {
    font-family: 'Poppins Light';
    font-size: 14px;
}

.days-hours p {
    font-family: 'Poppins Light';
    font-size: 14px;
}

.contact {
    margin-top: 32px;
}

.map {
    margin-top: 32px;
}

.terms {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.social-icons .fa {
    color: #fff;
    font-size: 40px;
}

/* MEDIA QUERIES ********************************* */
/* IPHONE X  375x812 */
@media screen and (min-width: 375px) and (min-height: 736px) {
    
    /* HERO IMAGE STYLING */
    .hero {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.8fr 0.9fr 0.3fr;
        grid-template-areas:
            "area1"
            "area2"
            "area3";
    }
    
    .hero-image-container {
        width: 85%;
    }
    
    .text-buttons { grid-area: area2; }
    .arrow { grid-area: area3; }
    
    .text-buttons {
        margin-top: -50px;
    }
    
    .text-buttons .main-buttons {
        margin-top: 52px;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .main-buttons button {
        width: 166px;
        height: 32px;
        font-size: 11px;
        font-family: 'Poppins';
        margin-top: 15px;
    }
    
    .main-buttons .book-appointment {
        background-color: #8C7787;
        color: #fff;
        border: none;
    }
    
    .main-buttons .services-prices {
        background-color: #fff;
        color: #555;
        border: 1px solid #555;
    }
    /* MENU PAGE DARK STYLING */
    #main-header-dark img {
        margin-top: 10%;
    }

    /* MAIN PAGE STYLING */
    .offer-giftcard .offer-container p {
        margin: 30px 0;
    }

    .offer-giftcard .giftcard-container p {
        margin: 30px 0;
    }

    /* FOOTER STYLING */
    #footer {
        height: auto;
    }
    .footer-container {
        padding: 56px 0;
    }

    .contact {
        margin-top: 56px;
    }

    .map {
        margin-top: 56px;
    }

    .terms {
        margin-top: 56px;
    }
}

/* IPHONE 6/7/8 PLUS 414x736*/
@media screen and (min-width: 414px) and (min-height: 736px) {
    /* HERO IMAGE STYLING */
    .hero {
        grid-template-rows: 1.7fr 1fr 0.3fr;
    }
    
    .hero-image-container {
        width: 70%;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .main-buttons button {
        width: 166px;
        height: 32px;
        font-size: 11px;
        font-family: 'Poppins';
        margin-top: 15px;
    }
    
    .main-buttons .book-appointment {
        background-color: #8C7787;
        color: #fff;
        border: none;
    }
    
    .main-buttons .services-prices {
        background-color: #fff;
        color: #555;
        border: 1px solid #555;
    }

    /* MENU PAGE DARK STYLING */
    #main-header-dark {
        width: 85%;
    }

    #main-header-dark img {
        width: 100px;
    }

    #main-header-dark .x {
        font-size: 37px;
    }

    .menu-container h2 {
        font-size: 30px;
    }

    /* MAIN PAGE STYLING */
    .offer-giftcard h3 {
        font-size: 15px;
    }

    .offer-giftcard button {
        height: 35px;
    }

    .offer-giftcard .offer-container p {
        font-size: 40px;
    }

    .offer-giftcard .giftcard-container p {
        font-size: 38px;
    }

    /* SERVICES STYLING */
    .services {
        gap: 20px;
    }

    .services-container img {
        width: 140px;
    }

    .services-container button {
        height: 35px;
    }

    /* INSTAGRAM STYLING */
    .instagram-container button {
        height: 35px;
    }

    /* REVIEWS STYLING */


    /* FAQ STYLING */
    .question-container h3 {
        margin-bottom: 14px;
    }

    /* FOOTER STYLING */

    .footer-container {
        padding: 40px 0;
    }

    .contact {
        margin-top: 40px;
    }

    .map {
        margin-top: 40px;
    }

    .terms {
        margin-top: 48px;
    }
}

/* IPHONE 11 414x896 */
@media screen and (min-width: 414px) and (min-height: 896px) {
    .hero {
        grid-template-rows: 1.8fr 0.9fr 0.3fr;
    }
    
    .hero-image-container {
        width: 85%;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons button {
        width: 186px;
        height: 40px;
        font-size: 12px;
        letter-spacing: 1px;
        margin-top: 20px;
    }

    /* MAIN PAGE STYLING */
    .offer-giftcard .offer-container p {
        font-size: 40px;
        margin: 20px 0 50px 0;
    }

    .offer-giftcard .giftcard-container p {
        font-size: 40px;
        margin: 20px 0 50px 0;
    }

    /* SERVICES STYLING */
    .services {
        gap: 30px;
    }

    .services-container img {
        width: 150px;
    }

    .services-container button {
        height: 36px;
        width: 186px;
    }

    /* INSTAGRAM STYLING */
    .instagram-container button {
        height: 36px;
        width: 186px;
    }

    .instagram-container {
        height: 736px;
    }

    #footer {
        height: auto;
    }
}

/* IPAD 768x1024 **********************/
@media screen and (min-width: 768px) and (min-height: 1024px) {
    .hero {
        grid-template-rows: 1.8fr 0.9fr 0.3fr;
    }
    
    .hero-image-container {
        width: 60%;
    }

    #Layer_1 {
        padding-top: 50px;
    }

    .hero-text {
        margin-top: -50px;
    }

    /* MAIN BUTTONS STYLING */
    .main-buttons {
        flex-direction: row;
        justify-content: center;
    }

    .main-buttons button {
        width: 236px;
        height: 56px;
        font-size: 14px;
        margin: 0 20px;
    }

    .arrow img {
        width: 20px;
    }

    /* MENU PAGE DARK STYLING */
    #main-header-dark {
        width: 80%;
    }

    #main-header-dark img {
        margin-top: 5%;
        width: 120px;
    }

    #main-header-dark .x {
        font-size: 48px;
    }

    .menu-container {
        margin-top: 200px;
    }

    .menu-container h2 {
        margin-top: 70px;
        font-size: 40px;
    }

    /* MAIN PAGE STYLING */
    .offer-giftcard h3 {
        font-size: 18px;
    }

    .offer-giftcard button {
        width: 236px;
        height: 48px;
        font-size: 14px;
    }

    .offer-giftcard .offer-container p {
        font-size: 48px;
        margin: 48px 0;
    }

    .offer-giftcard .giftcard-container p {
        font-size: 48px;
        margin: 48px 0;
    }

    /* SERVICES STYLING */
    .services-container {
        height: auto;
        padding: 96px 0;
    }

    .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 32px;
        margin: 96px 0;
    }

    .services-container h2 {
        font-size: 40px;
    }

    .services h3 {
        font-size: 20px;
    }

    .services-container img {
        width: 200px;
    }

    .services-container button {
        width: 236px;
        height: 48px;
        font-size: 14px;
    }

    /* INSTAGRAM STYLING */
    .instagram-container {
        height: auto;
        padding: 48px 0;
    }

    .instagram-container .instagram {
        margin: 48px 0;
    }

    .instagram-container h2 {
        font-size: 40px;
    }

    .instagram-container .title h4 {
        font-size: 18px;
    }

    .instagram-container button {
        width: 236px;
        height: 48px;
        font-size: 14px;
    }

    /* FAQ STYLING */
    #faq {
        padding: 72px 0;
    }

    .faq {
        font-size: 40px;
    }

    .faq-container {
        width: 80%;
        margin: 0 auto;
    }

    .faq-container .question-container {
        width: 100%;
    }

    .question-container h3 {
        margin-top: 18px;
        font-size: 18px;
        margin-bottom: 16px;
        width: 70%;
    }

    .question-container img {
        width: 18px;
    }

    .question p {
        font-size: 16px;
    }

    .question {
        padding: 32px 0;
    }

    /* FOOTER STYLING */
    #footer {
        background-color: #8C7787;
        color: #fff;
        height: auto;
    }

    .footer-container {
        padding: 40px 0;
    }

    .business-hours h3,
    .contact h3 {
        font-size: 24px;
    }

    .days-hours,
    .contact-details {
        padding: 5px 0;
    }

    .days-hours h5,
    .contact-details h5 {
        font-size: 18px;
    }

    .days-hours p {
        font-size: 18px;
    }

    .contact {
        margin-top: 40px;
    }

    .map {
        margin-top: 40px;
    }

    .terms {
        margin-top: 40px;
    }
}

/* NORMAL SIZE SCREENS 1024px *********************/
/* ********************************************** */

@media only screen and (min-width: 1024px) {
    #main-header {
        display: none;
    }

    #header {
        height: 100vh;
    }

    .desktop {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #8C7787;
    }

    .desktop-navbar-container {
        width: 90%;
        margin: 0 auto;
        height: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .desktop-navbar-container .desktop-navbar {
        height: 88px;
        /* margin: 0 auto; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .desktop-navbar-container .desktop-navbar img {
        width: 80px;
        display: block;
        padding-top: 4px;
    }

    .desktop-navbar-container .desktop-navbar ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        font-family: 'Playfair Display';
        font-size: 14px;
    }

    .desktop-navbar-container .desktop-navbar ul li {
        margin-left: 20px;
    }

    .desktop-navbar-container .desktop-navbar button {
        width: 166px;
        height: 36px;
        font-family: 'Poppins';
        font-size: 12px;
        color: #fff;
        background-color: #8C7787;
        border: 2px solid white;
        cursor: pointer;
    }

    .desktop-navbar-container .desktop-navbar button:hover {
        color: #8C7787;
        background-color: #fff;
    }

    .nav_menu {
        text-decoration: none;
        color: #fff;
        padding: 6px;
    }

    .nav_menu:hover {
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        transition: all .2s ease-in-out;
    }
    
    .active_menu {
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }

    .desktop-navbar-container .info {
        width: 18%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .desktop-navbar-container .info .mail,
    .desktop-navbar-container .info .phone {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .desktop-navbar-container .info .mail .fa-envelope,
    .desktop-navbar-container .info .phone .fa-phone {
        font-size: 18px;
        padding: 0 10px 0 0;
    }

    .desktop-navbar-container .info .phone .fa-phone {
        margin-top: 3px;
    }

    .desktop-navbar-container .info .mail p,
    .desktop-navbar-container .info .phone p {
        font-family: 'Poppins Light';
        font-weight: 100;
        font-size: 12px;
        color: #fff;
    }

    .desktop-navbar-container .info .social-media {
        margin-top: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .desktop-navbar-container .info .social-media .fa {
        color: #fff;
        padding: 0;
    }

    .desktop-navbar-container .info .social-media .fa-instagram,
    .desktop-navbar-container .info .social-media .fa-facebook {
        font-size: 18px;
        margin-right: 10px;
    }

    .desktop-navbar-container .info .social-media .fa-facebook {
        margin: 0;
    }
    
    .header-container {
        display: none;
    }
    
    /* HERO IMAGE STYLING */
    .hero {
        height: 100vh;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1.2fr 0.8fr 1fr;
        grid-template-rows: 1fr 1.4fr 0.6fr;
        gap: 0px 0px;
        grid-template-areas:
            "area1 area1 area2 area2"
            "area1 area1 area2 area2"
            "area3 area3 area3 area3";
    }
    
    .hero-image-container { 
        grid-area: area2;
        margin: 0 auto;
        width: 70%; 
        align-self: flex-end;
    }
    
    .text-buttons { 
        grid-area: area1; 
        align-self: flex-end;
    }
    
    .hero-image-container img {
        width: 110%;
    }
    
    /* .text-buttons .main-buttons {
        margin-top: 32px;
    } */

    .hero-text {
        margin-bottom: 120px;
    }

    #Layer_1 {
        width: 80%;
        display: flex;
        /* margin: 0 auto 100px 0; */
    }
    
    .tagline {
        width: 100%;
        text-align: right;
        font-size: 20px;
    }
    
    .arrow {
        align-self: center;
        grid-area: area3;
        margin: 0 auto;
    }
    
    .arrow img {
        width: 12px;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 40px;
    }
    
    .main-buttons button {
        width: 196px;
        height: 44px;
        font-size: 12px;
        margin-left: 32px;
        cursor: pointer;
    }

    .main-buttons .book-appointment:hover {
        color: #8C7787;
        background-color: #fff;
        border: 1px solid #8C7787;
    }

    .main-buttons .services-prices:hover {
        color: #fff;
        background-color: #8C7787;
        border: 1px solid #8C7787;
    }

    /* MAIN PAGE STYLING */
    .offer-giftcard {
        flex-direction: row;
        height: auto;
    }

    .offer-giftcard button {
        width: 196px;
        height: 44px;
        font-size: 12px;
    }


    /* SERVICES STYLING */
    .services-container {
        height: auto;
    }

    .services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 60px;
        margin: 80px 0;
    }

    .services h3 {
        font-size: 18px;
    }

    .services-container img {
        width: 160px;
    }

    .services-container button {
        width: 196px;
        height: 44px;
        font-size: 12px;
        cursor: pointer;
    }

    .services-container button:hover {
        background-color: #fff;
        color: #8C7787;
        border: 1px solid #8C7787;
    }

    /* INSTAGRAM STYLING */
    .instagram-container {
        height: auto;
        padding: 64px 0;
    }

    .instagram-container h2 {
        font-size: 32px;
    }

    .instagram-container .title {
        margin-bottom: 56px;
    }

    .instagram-container .title h4 {
        font-size: 16px;
    }

    .instagram-container button {
        width: 196px;
        height: 44px;
        font-size: 12px;
        margin-top: 56px;
        border: 1px solid #8C7787;
        cursor: pointer;
    }

    /* REVIEWS STYLING */
    .review-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .review-container h2 {
        font-family: 'Playfair Display';
        font-size: 32px;
        margin-top: -15%;
    }

    .review-container .review-text img {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .review-container .reviews-text {
        position: relative;
        margin-top: -60%;
    }
    
     .review-slider .review-wrapper .review .review-container p{
        width: 100%;
        font-family: 'Poppins Light';
        font-size: 16px;
        /* position: absolute; */
        top: 30%;
        left: 22%;
    }

    .review-container h5 {
        /* position: absolute; */
        bottom: 4%;
        right: 20%;
    }


    /* FAQ STYLING */
    #faq {
        padding: 64px 0;
    }

    .faq {
        margin-bottom: 32px;
    }

    .faq-container {
        width: 50%;
    }

    .question-container {
        width: 100%;
    }

    .question-container h3 {
        font-size: 16px;
    }

    .question p {
        font-size: 14px;
    }

    /* FOOTER STYLING */
    #footer {
        height: auto;
    }

    .footer-container {
        width: 80%;
        display: grid;
        padding: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 150px;
    }

    .business-hours h3,
    .contact h3 {
        font-size: 20px;
        padding: 0 0 8px 0;
        margin-bottom: 12px;
    }

    .days-hours,
    .contact-details {
        display: flex;
        justify-content: space-between;
        padding: 3px 0;
    }

    .days-hours h5,
    .contact-details h5 {
        font-family: 'Poppins Light';
        font-size: 14px;
    }

    .days-hours p {
        font-family: 'Poppins Light';
        font-size: 14px;
    }

    .business-hours {
        margin-top: 32px;
    }

    .contact {
        margin-top: 32px;
    }

    .map {
        margin: 20px 0 40px 0;
        order: 2;
    }


    .terms {
        margin-top: 32px;
        align-items: flex-start;
    }

    .terms h5 {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .fa {
        color: #fff;
        font-size: 40px;
        padding: 0 10px;
    }
}

/* SIZE SCREENS 1366px/
/* ********************************************** */
@media only screen and (min-width: 1366px) {
    .desktop-navbar-container {
        /* max-width: 1536px; */
        width: 90%;
        height: 104px;
    }

    .desktop-navbar-container .desktop-navbar img {
        width: 100px;
    }

    .desktop-navbar-container .desktop-navbar ul {
        font-size: 14px;
    }

    .desktop-navbar-container .desktop-navbar ul li {
        margin-left: 30px;
    }

    .desktop-navbar-container .desktop-navbar button {
        width: 196px;
        height: 44px;
        font-size: 12px;
        margin-left: 32px;
    }

    .desktop-navbar-container .info {
        width: 184px;
    }

    .desktop-navbar-container .info .social-media .fa-instagram,
    .desktop-navbar-container .info .social-media .fa-facebook {
        font-size: 32px;
        margin-right: 22px;
    }

    .desktop-navbar-container .info .social-media .fa-facebook {
        margin: 0;
    }

    .desktop-navbar-container .info .mail p,
    .desktop-navbar-container .info .phone p {
        font-size: 12px;
    }

    .hero {
        grid-template-columns: 1fr 1.3fr 0.7fr 1fr;
        grid-template-rows: 1fr 1.6fr 0.4fr;
    }
    
    .hero-image-container { 
        width: 75%; 
    }

    .hero-image-container img {
        width: 100%;
    }

    .hero-text {
        margin-bottom: 100px;
    }
    
    .arrow img {
        width: 16px;
    }
    
    /* MAIN BUTTONS STYLING */
    .main-buttons {
        margin:100px;
    }

    .main-buttons button {
        width: 196px;
        height: 44px;
        font-size: 12px;
    }
}
/* ****************** 1536px ********************** */
@media only screen and (min-width: 1366px) {
    .desktop-navbar-container {
        max-width: 1536px;
    }

    .desktop-navbar-container .desktop-navbar ul {
        font-size: 16px;
    }

    .desktop-navbar-container .desktop-navbar ul li {
        margin-left: 30px;
    }

    .desktop-navbar-container .desktop-navbar button {
        width: 206px;
        height: 48px;
        font-size: 14px;
        margin-left: 48px;
    }

    .desktop-navbar-container .info {
        width: 15%;
    }

    .desktop-navbar-container .info .mail p,
    .desktop-navbar-container .info .phone p {
        font-size: 14px;
    }
    
    .hero-image-container { 
        width: 70%; 
    }
    
    .arrow img {
        width: 16px;
    }

    .main-buttons button {
        width: 206px;
        height: 48px;
        font-size: 14px;
    }
}